@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

html {
    font-size: 16px;
    font-family: 'NanumSquareNeo-Variable';
    /* font-family: 'Noto Sans KR'; */
    /* font-family: 'GimhaeGayaR'; */
    /* font-family: 'Hahmlet-Regular'; */
}


/* 메인메뉴 */
nav {
    position: relative;
    top: 0;
    left: 0;
    z-index: 80;
    width: 100%;
    height: 50px;
    /* border-bottom: 1px solid #ccc; */
    border: 0px solid red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    /* overflow: hidden; */
}



nav>div {
    width: 8%;
    height: 50px;
    border: 0px solid blue;
    text-align: center;
    line-height: 50px;
    font-family: 'HallymMjo-Regular';
    cursor: pointer;
}

nav>div:hover {
    border-bottom: 4px solid rgb(0, 0, 0);
}

nav>div:nth-child(6),
nav>div:nth-child(7),
nav>div:nth-child(8) {
    width: 3%;
}

nav>div:nth-child(6) {
    margin-left: 20%;
}
/* 
.menu>.serch {
    width: 20%;
    height: 50px;
    margin: 0px;
    display: flex;
}

.menu>.serch>input {
    width: 80%;
    height: 30px;
    margin: 10px;
} */

.menu>.serch>p {
    width: 20%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 1.5rem;
}

/* 메뉴의 모바일버전 */
nav>.menu_m {
    width: 100%;
    height: 50px;
    background: white;
    display: none;
    border: 0px solid blue;
}

nav>.menu_m>div {
    width: 15%;
    height:50px;
    font-size: 1.7rem;
    border: 0px solid white;
    text-align: center;
    line-height: 50px;
    font-family: 'Gowun Batang';

    /* color: white; */
    cursor: pointer;
    border: 0px solid black
}

nav>.menu_m>div:last-child {
    margin-left: 70%;
}

/* 메인메뉴 로고 */
.home {
    width: 120px;
    height: 80px;
    border: 0px solid blue;
    margin: 20px auto;
    background: url(../img/logo.gif);
    background-size: 100% 100%;
    cursor: pointer;
}

/* 메인 페이지 메뉴의 서브메뉴 */
nav>.sub_menu {
    width: 100%;
    height: 0px;
    border: 0px solid blue;
    border-bottom: 2px solid #ccc;
    margin-top: 0px;
    /* background: rgba(206, 206, 206, 0.718); */
    background: white;
    display: flex;
    /* justify-content: center; */
    /* margin-top:30px; */
    margin-bottom: 20px;
    cursor: default;
    overflow: hidden;
    transition: all 0.5s;
}

.menu:hover .sub_menu {
    height: 230px;
}

nav>.sub_menu:hover {
    border: 0;
    border-bottom: 2px solid #ccc;
}

nav>.sub_menu>ul {
    width: 7%;
    height: 100px;
    border: 0px solid white;
    margin-top: 20px;
    margin-right: 1.2%;
}

nav>.sub_menu>ul:nth-child(1) {
    margin-left: 16%;
    margin-right: 1%;
}

nav>.sub_menu>ul>li {
    width: 100%;
    height: 50px;
    border: 0px solid white;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    font-size: 0.8rem;
}

nav>.sub_menu>ul>li:hover {
    /* background: rgb(245, 245, 245); */
    border: 1px solid black
}

nav>.sub_menu>ul>li:hover a {
    /* background: rgb(170, 210, 226); */
    color: black;
}

nav>.sub_menu>ul>li>a {
    width: 100%;
    height: 50px;
    color: black;
}

.sec0>.title {
    width: 100%;
    height: 100px;
    background: rgb(60, 60, 127);
    text-align: center;
    line-height: 100px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}


/* footer */
.at2 {
    width: 100%;
    height: 250px;
    margin: 0;
    background: rgb(0, 0, 87);;
    border: 0px solid red;
    color: white;
}

.at2>.footer {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border: 0px solid rgb(94, 94, 94);
    display: flex;
    font-size: 0.8rem;
}

.at2>.footer>.left {
    width: 100%;
    height: 200px;
    margin-top: 30px;
    border: 0px solid #ccc;
}

.at2>.footer>.left>p {
    width: 100%;
    height: 1.75;
    border: 0px solid #ccc;
    line-height: 50px;
}

.at2>.footer>.left>p:nth-child(2) {
    height: 100px;
    line-height: 1.75;
    margin-top: 10px
}



/* 모바일버전 삼선바 클릭하면 나오는 메뉴 */
.sec1 {
    /* position:relative;
    top:0; left:0; */
    width: 100%;
    height: 100%;
}

.side_menu_m {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    width: 70%;
    height: 100%;
    background: rgb(0, 0, 0);
    overflow: hidden;
    transition: all 0.5s;
    /* display: none; */
}

.side_menu_m>ul {
    width: 90%;
    height: 80%;
    border: 0px solid red;
}

.side_menu_m>ul>li {
    width: 100%;
    /* height: 10%; */
    border: 0px solid white;
    margin-top: 30px;
    line-height: 1.75;
    text-indent:30px;
    color: white;
    cursor: pointer;
}

.side_menu_m>ul>li:nth-child(1) {
    width: 100px;
    height: 40px;
    margin-left: 100px;
    background: url(../img/logo_m.png);
    background-size: 100% 100%;
}

.side_menu_m>ul>li>div {
    width: 100%;
    /* height: 150px; */
    border: 0px solid white;
    line-height: 50px;
    font-size: 1rem;
    text-indent: 80px;
    /* display: none; */
}
.side_menu_m>ul>li>p>a{
    color:white;
}
.side_menu_m>p {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 50px;
    height: 50px;
    color: white;
    border: 0px solid white;
    text-align: center;
    line-height: 50px;
    font-size: 2rem;
    margin-top: 30px;
    cursor: pointer;
}

.side_user_m {
    position: fixed;
    top: 0;
    right: -70%;
    z-index: 100;
    width: 60%;
    height: 100%;
    background: rgb(0, 0, 0);
    overflow: hidden;
    transition: all 0.5s;
}

.side_user_m>ul {
    width: 90%;
    height: 80%;
    border: 0px solid red;
}

.side_user_m>ul>li {
    width: 100%;
    /* height: 10%; */
    border: 0px solid white;
    margin-top: 50px;
    line-height: 1.75;
    text-indent:30px;
    color: white;
    cursor: pointer;

}
.side_user_m>ul>li>a{
    color:white
}
.side_user_m>ul>li:nth-child(1){
    margin-top:100px;
}

.side_user_m>p {
    position: absolute;
    top: 4px;
    right:10px;
    width: 50px;
    height: 50px;
    color: white;
    border: 0px solid white;
    text-align: center;
    line-height: 50px;
    font-size: 2rem;
    margin-top: 30px;
    cursor: pointer;
}

.at2>.up{
    position: fixed;
    top:90%;
    right:5%;
    height: 50px;
    width:50px;
    height: 50px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.523);
    color:white;
    text-align: center;
    line-height: 50px;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.5s;
}
.hp_info{
    position: fixed;
    top:77%;
    right:5%;
    z-index: 50;
    width:50px;
    height:50px;
    background: rgba(0, 0, 0, 0.523);
    color:white;
    /* border: 1px solid black; */
    border-radius: 50px;
    font-size: 0.7rem;
    text-align: center;
    line-height: 20px;
}
.hp_info a{
    color:white;
}

.hp_info_ani{
    position: fixed;
    top:77%;
    right:5%;
    z-index: 0;
    width:50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.523);
    border-radius: 50px;
    animation:info_ani 1s infinite linear ;
}
@keyframes info_ani{
    0%{
        opacity: 1;
        scale: 1;
    }
    100%{
        opacity: 0;
        scale: 2;
    }
}
