.at {
    width: 100%;
}

.home {
    width: 17%;
}

nav>div {
    width: 13%;
}

nav>.sub_menu>ul {
    width: 13%;
    margin-right: 0;
}

nav>.sub_menu>ul:nth-child(1) {
    margin-left: 2%;
    font-size: 0.5rem;

}

nav>div:nth-child(6),
nav>div:nth-child(7),
nav>div:nth-child(8) {
    width: 5%;
}

nav>div:nth-child(6) {
    margin-left: 14%;
}

.main_img {
    background-size: 100% 100%;
}

.main_img {
    height: 350px;
}

.main_text {
    top: 13%;
    width: 300px;
    font-size: 1rem;
}


.main_text p:nth-child(2) {
    top: 80%;
    left: 5%;
}
.main_text div:nth-child(1){
    top:55%;
    width:100%;
    height: 40px;
    background: url(../img/main_text.png);
    background-size: 100% 100%;
}
.main_text div:nth-child(3){
    top:60%;
    left:45%;
    width:250px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1rem;
    border-radius: 50px;
    opacity: 1;
}
.at0>.mainCam {
    height: 550px;
}

.at0>.mainCam>div:nth-child(1) {
    height: 400px;
    width: 55%;
}

.at0>.mainCam>div:nth-child(2) {
    margin-top: 0;
    width: 40%;
}

.at0>.mainCam>div:nth-child(2)>p {
    font-size: 1rem;
}

.at1>.pdInfo {
    width: 90%;
    height: 600px;
    margin: 0 auto;
}
.at1>.pdInfo>li{
    width:600%;
}
.at1>.pdInfo>li>div {
    width: 50%;
    height: 350px;
    margin-bottom: 120px;
}

.at1>.pdInfo>li>p {
    width: 40%;
    margin-top:100px;
}
.at1>.pd_left{
    left:30px;
    width:30px;
}
.at1>.pd_right{
    left:90%;
    width:30px;
}

.review,
.noticeEx {
    width: 90%;
    height: 550px;
    border: 1px solid white;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

.review>div,
.noticeEx>div {
    margin-left: 0px;
}

.review>.reviewImg,
.noticeEx>.noticeImg {
    width: 100%;
    height: 250px;
    /* margin-bottom: 20px; */
}

.review>.reviewText,
.noticeEx>.noticeExText {
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.review>.reviewText>.reviewText1,
.noticeEx>.noticeExText>.noticeExText1 {
    width: 100%;
    border: 0px solid red;
    margin-top: 0px;
}

.noticeEx>.noticeImg {
    margin-top: -550px;
}

.noticeEx>.noticeExText {
    /* border: 1px solid black; */
    margin-top: 250px;
}

.infoBox {
    top: 10%;
    left: 10%;
    width: 630px;
    height: 650px;
    padding: 10px
}
.infoBox>div {
    width: 200px;
    height: 200px;
    margin-left: -50px;
    margin-top:50px;
}

.hp_info_ani,
.hp_info,
.up,
.msg,
.call{
    display: none;
}