.home {
    position: relative;
    top:25px;
    left:0;
    z-index: 99;
    height: 50px;
    border: 0px solid red;
    margin: 0px auto;
}
.hp_info{
    display:none;
}
nav {
    height: 50px;
    margin-top:px;
    border: 0px solid black;
}

.menu:hover .sub_menu {
    height: 0;
}

nav>div {
    display: none;
    margin: 0;
    cursor: default;
}

nav>div:hover {
    border-bottom: 0px;
}

nav>.menu_m {
    margin-top:-25px;
    display: block;
    display: flex;
}
.at0>.box {
    width: 90%;
    height: 800px;
}
.at0>.box>ul {
    width: 100%;
    height:1000px;
    border:0px solid black;
}
.at0>.box>ul>li:nth-child(2) {
    height: 550px;
    /* line-height: 400px; */
}
.at0>.box>ul>li:nth-child(3) {
    height: 100px;
    line-height: 1.75;
    align-items: center;
}

.at0>.box>ul>li>div:nth-child(1) {
    width: 30%;
    font-size:0.8rem;
}
.at0>.box>ul>li:nth-child(2)>div:nth-child(2)>input {
    width: 100%;
    height: 280px;
    margin-left: -20px;
}
.at0>.box>ul>li:nth-child(3)>div:nth-child(1){
    width: 40%;
    font-size:0.8rem;
}
.at0>.box>ul>li:nth-child(3)>div:nth-child(2)>div>input{
    width: 10%;
}

.at0>.btn{
    width:50%;
    height: 50px;
}
.at0>.btn>div{
    line-height: 50px;
}
.at2>.footer {
    font-size: 0.7rem;
}

.at2>.footer>.left {
    margin-top: 20px;
}

.at2>.footer>.left>p {
    line-height: 1.75;
}

.side_menu_m>ul>li>div>div>a {
    color: white;
}