.at {
    width: 100%;
}

.home {
    width: 17%;
}

nav>div {
    width: 13%;
}

nav>.sub_menu>ul {
    width: 13%;
    margin-right: 0;
}

nav>.sub_menu>ul:nth-child(1) {
    margin-left: 2%;
    font-size: 0.5rem;

}

nav>div:nth-child(6),
nav>div:nth-child(7),
nav>div:nth-child(8) {
    width: 5%;
}

nav>div:nth-child(6) {
    margin-left: 14%;
}

.at0>.eventBox>.event>div>p:nth-child(1){
    margin-bottom: 50px;
}
.at0>.eventBox>.event>div>p:nth-child(2){
height:25%;
line-height:1.75; 
}
.at0>.eventBox>.event>.event_img{
    position: relative;
    top:0; left:0;
    width:50%;
    height:80%;
    margin:15px auto;
    padding:0;
}
.eventPopup>.popupImg img{
    height:70%;
}
.eventPopup>.popupText{
    margin-top:-150px;
}
.close{
    margin-left:20px;
}