.home {
    position: relative;
    top:25px;
    left:0;
    z-index: 99;
    height: 50px;
    border: 0px solid red;
    margin: 0px auto;
}
.hp_info{
    display:none;
}
nav {
    height: 50px;
    margin-top:px;
    border: 0px solid black;
}

.menu:hover .sub_menu {
    height: 0;
}

nav>div {
    display: none;
    margin: 0;
    cursor: default;
}

nav>div:hover {
    border-bottom: 0px;
}

nav>.menu_m {
    margin-top:-25px;
    display: block;
    display: flex;
}


.at2>.footer {
    font-size: 0.7rem;
}

.at2>.footer>.left {
    margin-top: 20px;
}

.at2>.footer>.left>p {
    line-height: 1.75;
}

.side_menu_m>ul>li>div>div>a {
    color: white;
}
.at0{
    width:90%;
}
.at0>.boardBox>.board>li{
    font-size:0.9rem;
}
.board>li:nth-child(1),
.board>li:nth-child(3)
{
    display: none;
}
.at0>.boardBox>.board>li:nth-child(2){
    width:70%;
    text-align: left;
    text-indent: 10px;
}
.at0>.boardBox>.board>li:nth-child(4){
    width:30%;
    border-right: 0;
}

.at0>.boardBox>.page_num{
    width: 50%;
}
.at0>.boardBox>.q_text2{
    width:100%;
    margin-left:0;
}
.at0>.boardBox>.q_text2>.q_img{
    width:30%;
    height: 70%;
}
.at0>.boardBox>.q_text2>div:nth-child(2){
    width:60%;
    padding:20px;
}